{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers' Financial Support</title>
    <link rel="stylesheet" href="{% static "financialSupp.css" %}">
    <script> src = "financialSupp.js"</script>
</head>
<body>
    <header>
        <h1>Financial support for farmers </h1>
    </header>
<div class="container" id="schemes-container">
        <!-- Cards will be dynamically added here -->
    </div>
    <footer>
        <p>© 2025 Farmers' Financial Support | All rights are reserved.</p>
    </footer>
    
    <script src="{% static "financialSupp.js" %}"></script>
</body>
</html>